/* contact form styling*/

.ctitle{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-bottom: 20px;
    color: black;
}
.info
{
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.submitbutton
{
    color: #fff;

.bioContent2 {
    position: relative;
    right: 100;
    left:0;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Start of style for the header */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
li, a, button {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #30302F;
}
.logo{
    height:40px;
    cursor: pointer;
    /* margin-right: auto; */
}
.nav_bar_links{
    list-style: none;
}
.nav_bar_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_bar_links li a {
    transition: all 0.3s ease 0s;
}
.nav_bar_links li a:hover{
    color: hsl(192, 100%, 50%);
}
button{
    padding: 9px 25px;
    background-color: hsl(192, 100%, 50%);
    border:None;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: hsl(192, 100%, 24%);
}
/* End of Style for header */
/* Start of SlideShow Style */
.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slide{
    width: inherit;
    height: inherit;
    position: absolute;
    animation: cycleImages 41s infinite;
    opacity: 0;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 41s infinite;
}
.slide:nth-child(1),
.slide:nth-child(1) img{
    animation-delay: 0s;
}
.slide:nth-child(2),
.slide:nth-child(2) img{
    animation-delay: 10s;
}
.slide:nth-child(3),
.slide:nth-child(3) img{
    animation-delay: 20s;
}
.slide:nth-child(4),
.slide:nth-child(4) img{
    animation-delay: 30s;
}
.slideText{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem 3rem;
    font-family: "Monserrat", sans-serif;
}

.slideText h5{
    font-size: 2rem;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 1px;
    font-weight: 150;
}

.titleBreak{
    font-size: 2rem;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 1px;
    font-weight: 150;
    text-align: center;
}

.readButton{
    position: relative;
    margin-top: 5%;
    left: 25%;
    padding: 2% 10%;
    background-color: hsl(0, 0%, 0%);
    border:solid;
    border-radius: 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease 0s;
} 

@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}
@keyframes zoom{
    100%{
        transform: scale(1.3);
    }
}
/* For the Paragraphs of Home Page */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');.homeIntro{
    padding: 8px;
    text-align: center;
    color: #30302f;
    font-size: 20px;
    opacity: 65%;
    font-family: 'Abel', sans-serif;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}
/* Start of Style for Home Page Blog Post Previews */
.post_previews_header {
    text-align: center;
}
.post_previews {
    margin: 20px 20px;
    padding: 50px;
}
.w3-quarter:hover {
    opacity: 0.85;
}

/* Start of Style for footer */
/* implemented style choices to body so footer does not cover content at bottom of screen */
body {
    min-height: 400px;
    margin-bottom: 200px;
    clear: both;
 }
.main_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a8a8a8;
}
.upper_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_socials {
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    margin: 4px 2px;
}
.fa {
    padding: 10px;
}
.fa:hover {
    opacity: 0.7;
    color: hsl(192, 100%, 50%);
}
.footer_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: white;
    padding: 13px;
}
/* End of Style for footer */
/* style for contact page */

.intro {
    position: relative;
    text-align: center;
    color: white;
    object-fit: center;
    width: 100%;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%,-50%);
    font-size: 60px;
    font-family: "monserrat", sans-serif;
    letter-spacing: .25rem;
}

.below {
    position: absolute;
    top: 52%;
    left: 52%;
    transform: translate(-52%, -52%);
    font-size: 30px;
    font-family: "monserrat", sans-serif;
}
h1 {
    font-size: 35px;
}
.WhyWeStarted {
    position: relative;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    color: black;
    opacity: 65%;
    font-family: 'Abel', sans-serif;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}
.Mission {
    position: relative;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    color: black;
    opacity: 65%;
    font-family: 'Abel', sans-serif;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.bioContent1 {
    position: relative;
    right: 0px;
    border: none;
    text-align: center;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 0.85;
}

.bioContent2 {
    position: relative;
    left: 0px;
    border: none;
    text-align: center;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 0.85;
}

.bio-jose {
    width: 300px;
}

.bio-yunah {
    width: 300px;
}
.bio-marilyn {
    width: 300px;
}
.bio-estefani {
    width: 300px; 
}
.bio-mayte {
    width: 300px;
}
.bio-daniela {
    width: 300px;
}
/* End of style for contact page */

/* Style for blog page */

.title .background {
    position: relative;
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding:15px;
}

.row:after{
    content:"";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px){
    .column {
        width: 100%;
    }
}
.blogpic {
    position: relative;
    float: middle;
    width: 80%;
    padding: 15px;
}

h3 span {
    position: relative;
    text-align: center;
    font-size:30px;
}

/* End of style for blog page */

.WorkWithUs {
    position: relative;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    color: black;
    opacity: 65%;
    font-family: 'Abel', sans-serif;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

.footer_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: white;
    padding: 13px;
}
/* End of style for contact page */

@media screen and (max-width: 360px){
    .slideText{
        min-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
        text-align: center;
    }
    
    header{
        justify-content: center;
        vertical-align: middle;
        padding: 2px 2%;
    }

    .logo{
        height:30px;
        cursor: pointer;
    }
    .nav_bar_links{
        justify-content: center;
        vertical-align: middle;
    }
    .nav_bar_links li {
        display: block;
        padding: 1.5px 5px;
    }

    button{
        padding: 0px 9px;
        margin-right: 45%;
        font-size: 13px;
    }

    .readButton{
        position: relative;
        margin-top: 5%;
        align-self: center;
        padding: 2% 10%;
        cursor: pointer;


    } 
    .w3-quarter{
        margin-bottom: 25%;
    }

    .below{
        margin-top: 25px;
    }
}

@media screen and (min-width: 361px) and (max-width: 480px){
    .slideText{
        min-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
        text-align: center;
    }
    
    header{
        justify-content: center;
        vertical-align: middle;
        padding: 2px 2%;
    }

    .logo{
        height:30px;
        cursor: pointer;
    }
    .nav_bar_links{
        justify-content: center;
    }
    .nav_bar_links li {
        display: block;
        padding: 1.5px 15px;
    }

    button{
        padding: 0px 9px;
        margin-right: 45%;
        font-size: 16px;
    }

    .readButton{
        position: relative;
        margin-top: 5%;
        align-self: center;
        padding: 2% 10%;
        cursor: pointer;
    } 
    .w3-quarter{
        margin-bottom: 20%;
    }

    .below{
        margin-top: 25px;
    }
}

@media screen and (min-width: 481px) and (max-width: 960px){
    .slideText{
        min-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
        text-align: center;
    }
    
    header{
        justify-content: space-between;
        vertical-align: middle;
        padding: 2px 2%;
    }

    .logo{
        height:30px;
        cursor: pointer;
    }
    .nav_bar_links{
        justify-content: center;
        vertical-align: middle;
    }
    .nav_bar_links li {
        display: inline-block;
        padding: 1.5px 15px;
    }

    button{
        padding: 0px 16px;
        margin-right: 45%;
        font-size: 20;
    }

    .readButton{
        position: relative;
        margin-top: 5%;
        align-self: normal;
        padding: 2% 10%;
        cursor: pointer;
    } 
}

